Source: metricana
Maintainer: Thomas Hunger <tehunger@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-metricana
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: interface to the metricana web service

